header{
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 150px;
}
footer{
    background-color: rgb(240, 128, 128);
    width: 100%;
    height: 150px;
}
#tabel{
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
#auto{
    background-color: red;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
#fiets{
    background-color: yellow;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
#step{
    background-color: burlywood;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
#scooter{
    background-color: orange;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
#appel{
    background-color: green;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: black;    
}
#banaan{
    background-color: yellowgreen;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
#kiwi{
    background-color: brown;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
#peer{
    background-color: purple;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
#afbeeldingauto{
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
#afbeeldingfiets{
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
#afbeeldingstep{
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
#afbeeldingscooter{
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
#afbeeldingappel{
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
#afbeeldingbanaan{
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
#afbeeldingkiwi{
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
#afbeeldingpeer{
    border-style: solid;
    border-width: 3px;
    border-color: black;
}